
/* Style du menu */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px; /* Largeur du menu */
  height: 100%; /* Hauteur du menu */
  background-color: #00FF00; /* Couleur de fond du menu */
  color: #000000; /* Couleur du texte du menu */
  padding: 20px; /* Espacement intérieur du menu */
}

/* Style des liens du menu */
#menu a {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 10px; /* Espacement entre les liens */
  font-weight: bold; /* Police en gras */
}

/* Style du titre du menu */
#menu h2 {
  margin-top: 0;
}

